{% extends 'base.html.twig' %}

 {% block body %}
     <h1 class="my-4 text-center">Парсер</h1>
     <div class="wrap">
         <div class="text-center my-4">
             <form>
                 <input type="hidden" name="parse" value="true">
                 <input value="Распарсить" class="btn btn-success"  type="submit">
             </form>
         </div>
     </div>
 {% endblock %}